# Libraries

In [10]:
import pandas as pd
import numpy as np
import pickle
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [12]:
df = pd.read_csv("Stores.csv")
df

     StoreID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StoreID               896 non-null    int64
 1   Store_Area            896 non-null    int64
 2   Items_Available       896 non-null    int64
 3   Daily_Customer_Count  896 non-null    int64
 4   Store_Sales           896 non-null    int64
dtypes: int64(5)
memory usage: 35.1 KB

In [14]:
df.isnull().sum()

StoreID                 0
Store_Area              0
Items_Available         0
Daily_Customer_Count    0
Store_Sales             0
dtype: int64

In [15]:
def dataEncoder(cols):
    for i in cols:
        dataLabelEncoder = LabelEncoder()
        df[i] = dataLabelEncoder.fit_transform(df[i])

columns = ['Store_Area','Items_Available','Daily_Customer_Count','Store_Sales']
dataEncoder(columns)

In [16]:
df.to_csv(r'encoded-data.csv', index = False, header = True)

In [17]:

trainData, testData = train_test_split(df, test_size=0.2, shuffle=False)

In [18]:

train_x = trainData.iloc()[:, 1:]
test_x  = testData.iloc()[:, 1:]

train_y = trainData.iloc()[:,1 ]
test_y  = testData.iloc()[:, 1]

In [19]:
train_x

     Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0           410              437                    36          534
1           261              292                     8          118
2           170              197                    55          340
3           256              288                    45          332
4           474              509                    28          212
..          ...              ...                   ...          ...
711         184              199                    32          453
712         324              360                    51          298
713         391              428                    50          747
714         116              126                    90          445
715         567              597                    94          498

[716 rows x 4 columns]

In [20]:

model = SVC()
model.fit(train_x, train_y)

print(model)

SVC()

In [21]:
# Saving Trained Model
pickle.dump(model, open('model_svc.pkl', 'wb'))

In [22]:
# Load saved Model
model = pickle.load(open('model_svc.pkl', 'rb'))

In [23]:
model_predictions = model.predict(test_x)

In [ ]:
model_accuracy_score = accuracy_score(test_y, model_predictions)

print("-- Model Accuracy Score: ", end='')
print(round(model_accuracy_score,3))

In [25]:
testdata_predict = testData.copy(deep=True)
pd.options.mode.chained_assignment = None

testdata_predict['Prediction'] = model_predictions